body {
    background: linear-gradient(to right, #e22865, #37adcd);
}

#header-container {
    width: 100vw;
    height: 20vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title-container {
    height: 100%;
    width: 40%;
}

#input-container {
    width: 60%;
}

#list-container {
    width: 100vw;
    height: 80vh;
    border: 1px solid black;
}



